* html {
  font: 400 14px/20px Roboto,Helvetica Neue,sans-serif;
  letter-spacing: normal; }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

.show {
  display: block !important; }

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
  width: calc(100vw - 12.5%); }

.header {
  width: 100vw;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 22px #0000002E; }
  .header--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.6vw; }
    .header--wrapper--left_content {
      display: flex;
      align-items: center;
      width: 30%;
      justify-content: space-around; }
      .header--wrapper--left_content--help {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 35%;
        cursor: pointer;
        position: relative; }
        .header--wrapper--left_content--help img {
          width: 10%; }
        .header--wrapper--left_content--help--dropdown {
          display: none;
          position: absolute;
          top: 30px;
          background: #FFFFFF 0% 0% no-repeat padding-box;
          box-shadow: 0px 12px 15px #00000029;
          padding: 20px;
          z-index: 10; }
    .header--wrapper--right_content {
      background-image: linear-gradient(90deg, #fe511a, #f83873);
      border: 1px solid transparent;
      border-radius: 6vw;
      padding: 1vh 2.5vw;
      font: normal normal 500 16px/21px Segoe UI;
      letter-spacing: 0;
      color: #fff; }

.app {
  margin-top: 5vw; }
  .app--slider_1 {
    height: 25vw; }
    .app--slider_1 .mySwiper1 {
      height: 100%; }
      .app--slider_1 .mySwiper1 .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .app--slider_1 .mySwiper1 .swiper-pagination-bullet-active {
        background-color: #FFFFFF !important;
        opacity: 1 !important; }
      .app--slider_1 .mySwiper1 .swiper-pagination-bullet {
        opacity: 65%;
        background-color: #fff; }
  .app--history_title {
    margin: 20px 0;
    font: normal normal bold 20px/27px Segoe UI;
    letter-spacing: 0px; }
  .app--slider_2 {
    height: 16vw; }
    .app--slider_2 .mySwiper2 {
      height: 100%;
      width: 100%; }
      .app--slider_2 .mySwiper2 .swiper-slide img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 6px; }
      .app--slider_2 .mySwiper2 .prev_next {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: 42%;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center; }
        .app--slider_2 .mySwiper2 .prev_next img {
          width: 50%; }
      .app--slider_2 .mySwiper2 .next {
        right: 0; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
